.home {
  background-color: #f31083;
}

.side-a {
  border-radius: 50%;
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 1%;
  border: 5px solid white;
}

.side-b {
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 1%;
  border: 5px solid white;
}

.header {
  color: white;
  margin-left: 37%;
  margin-right: auto;
}

.youtube {
  border: 5px solid white;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 2%;
  width: 40%;
}
